<div class="modal fade" id="podModal" tabindex="-1">

    <div class="modal-dialog modal-xl">

        <div class="modal-content">

            <div class="modal-header bg-danger text-white">

                <div class="d-flex justify-content-between align-items-center w-100">

                    <h5 class="modal-title">
                        Pending POD
                    </h5>

                    <button
                        class="btn btn-success btn-sm"
                        onclick="exportPendingPOD()">

                        Export Excel

                    </button>

                </div>

                <button
                    class="btn-close"
                    data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body">

                <table class="table table-hover">

                    <thead>

                        <tr>

                            <th>Party</th>

                            <th>Pending POD</th>

                        </tr>

                    </thead>

                    <tbody id="podTable">

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>