<div class="d-flex justify-content-between align-items-center mb-4">

    <div>

        <h2 class="fw-bold mb-0">
            CRPL Transport ERP
        </h2>

        <small class="text-muted">
            Live Operations Dashboard | Preview Version 1.0
        </small>

    </div>

    <div class="text-end">

        <span class="badge bg-success">
            ● Google Sheets Connected
        </span>

        <br>

        <small class="text-muted">
            Last Updated :
            {{ current_time }}
        </small>

    </div>

</div>